stages:
  - build

linux:
  stage: build
  parallel:
    matrix:
      - IMAGE: [debian11:6, ubuntu24.04:7]
  image: iffregistry.fz-juelich.de/qtisas/qtisas-ci/$IMAGE
  script:
    - mkdir build && cd build
    - cmake ..
      -DCMAKE_BUILD_TYPE=Release
      -DBUILD_SHARED_LIBS=ON
    - cmake --build . --parallel $CI_NPROC

macos-arm64:
  stage: build
  tags:
    - darwin, arm64, ventura
  script:
    - mkdir build && cd build
    - cmake ..
      -Dgl2ps_ROOT=/opt/homebrew/opt/gl2ps
      -DCMAKE_PREFIX_PATH=/opt/homebrew/opt/qt
      -DBUILD_SHARED_LIBS=ON
      -DCMAKE_BUILD_TYPE=Release
    - /opt/homebrew/bin/cmake --build . --parallel $(sysctl -n hw.ncpu)

windows:
  stage: build
  parallel:
    matrix:
      - CMPLR: msvc2022_64
        ARCH: x64
      - CMPLR: msvc2022_arm64
        ARCH: arm64
  tags:
    - win, $ARCH
  script:
    - mkdir build
    - cd build
    - cmake ..
      -Dgl2ps_ROOT="C:/qtisas_libs/$CMPLR/gl2ps"
      -DCMAKE_PREFIX_PATH="C:/Qt/6.10.0/$CMPLR"
      -DBUILD_SHARED_LIBS=ON
    - cmake --build . --config Release -j $env:NUMBER_OF_PROCESSORS
